@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');
:root {
    --primary: #fda90d;
    --dark: #21252f;
    --body: #888;
    --white: #ffffff;
    --box-shadow: 0 8px 22px rgba(0,0,0,0.1);
}

body {
    font-family: "Sora", sans-serif;
    line-height: 1.7;
    color: var(--body);
    background-color: #EFEFEF;
}

h1,h2,h3,h4,h5,h6,h7
.display-4 {
    color: var(--dark);
    font-weight: 700;
}

.navbar {
    box-shadow: var(--box-shadow);
}

.btn {
    padding: 14px 18px;
    border-width: 2px;
    border-radius: 1;
}

section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.stack{
    width: 10%;
    height: 10%;
}
.subtitle{
    margin:auto;
    width: 30%;
    border-bottom:solid #fda90d 3px ;
}

.glow-on-hover {
    width: 240px;
    height: 40px;
    border: none;
    outline: none;
    color: #fff;
    background: rgb(0, 0, 0);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 20px;
    margin-right: 100px;
    margin-top: 4px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: rgb(0, 0, 0)
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


/* Tabel */

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: var(--primary);
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--primary);
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color:var(--body);
}

/* Card body effect */
.card-body {
    box-shadow: var(--box-shadow);
    background-color: var(--white);
    padding: 25px;
    transition: all 0.35s ease;
}

.card-body:hover {
    box-shadow: none;
    transform: translateY(5px);
}


/* Form */
form{
    display: flex;
    flex-direction: row;
}
